<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/adminDashboard.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/adminDashboard.css" rel="stylesheet">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<button class="button button4" onclick="location.href=`/logout`"> <i class="fa fa-power-off" style=" margin-right: 4px; font-size: 1.555555em; margin-left: -93px;"></i><h3 class="h3">Logout </h3></button><br>
<hr>
<h2 class="headerH2">Admin Dashboard</h2>
<div class="row">
    <div class="column">
        <div>

            <button class="square1" onclick="location.href=`/adminprofile`">  <i class="fa fa-user-o fa-lg"  style="font-size: 6.333333em;margin-top:12px;margin-left: 52px;"></i><h1 class="head1">MyProfile</h1></button>
        </div>
    </div>
    <div class="column" >

        <button class="square2"><i class="fa fa-users fa-lg" style="font-size: 6.333333em;margin-top:12px;margin-left: 52px;"></i><h1 class="head2">Students</h1></button>
    </div>
    <div class="column" >

        <button class="square3"><i class="fa fa-file-text fa-lg" style="font-size: 5.333333em;margin-left: 64px; margin-top:19px;"></i><h1 class="head4"><h1 class="head3">Exams</h1></button>


    </div>
    <div class="column" >

        <button class="square4"><i class="fa fa-quora fa-lg" style="font-size: 5.222222em;margin-left: 67px; "></i><h1 class="head4">Questions</h1></button>


    </div>
    <div class="column" >
        <button class="square5"><i class="fa fa-file-o fa-lg"  style="font-size: 4.333333em;margin-left: 78px; margin-top:6px;;"></i><h1 class="head5">Results</h1></button>


    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</body>
</html>

