
<!doctype html>
<html lang="en">
<head>
    <title>Students</title>
    <link href="css/view.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/scroll.scss" rel="stylesheet">
</head>
<body>

<button class="button button4"> <i class="fa fa-power-off" style=" margin-right: 4px; font-size: 1.555555em; margin-left: -93px;"></i>
<h3 class="h3">Logout </h3>
</button><br>
<hr class="hr">
<div class="square1">
<h2 class="headerH2">View all registered students</h2>
</div>

<form class="example1" action="/action_page.php"  style="
    margin-top: -26px;
    margin-bottom: 190px;
">
    <input class="input1" type="text" placeholder="Search by name" name="search">
    <input   style="margin-top: -70px;" class="input2" type="text" placeholder="Search by register date" name="search2">
</form>


<form class="example2" action="/action_page.php" style="
    margin-top: -86px;
    margin-bottom: 85px;
">
</form>


<table style="width:100%;border-right:hidden;border-left: hidden;">
    <tr>
        <th><select class="minimal">
            <option>S.No</option>
        </select>
        </th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Date of registration</th>
    </tr>

</table>


</body>
</html>
